{{page-title "Dummy"}}

<form {{on 'change' this.handleFileChange}}>
    <input type="file" name="">
</form>

<div class="preview">
    {{#each this.imageUrls as |url|}}
        <div>
            <img src={{url}} />
        </div>
    {{/each}}
</div>

{{outlet}}
